version: "3.9"

services:
  grafana:
    image: grafana/grafana:latest
    ports:
      - "3001:3000"
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
    depends_on:
      - loki
      - tempo

  loki:
    image: grafana/loki:3.0.0
    command: -config.file=/etc/loki/loki.yaml
    ports:
      - "3100:3100"
    volumes:
      - ./loki/loki.yaml:/etc/loki/loki.yaml:ro

  tempo:
    image: grafana/tempo:latest
    command: [ "-config.file=/etc/tempo/tempo.yaml" ]
    ports:
      - "3200:3200"   # Tempo query
      - "4317:4317"   # OTLP gRPC
      - "4318:4318"   # OTLP HTTP
    volumes:
      - ./tempo/tempo.yaml:/etc/tempo/tempo.yaml:ro

  alloy:
    image: grafana/alloy:latest
    command: [ "run", "/etc/alloy/config.alloy" ]
    ports:
      - "12347:12347" # Faro receiver (HTTP)
    volumes:
      - ./alloy/config.alloy:/etc/alloy/config.alloy:ro
    depends_on:
      - loki
      - tempo

